{
  "extends": ["standard"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [],
  "globals": {
    "beforeEach": true,
    "afterEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "xdescribe": true,
    "xit": true
  },
  "rules": {}
}
